<div id="altaProducto-container" class="crudFrom-container">
    <form id="altaProducto-form" autocomplete="off">
        <!-- Nombre -->
        <label for="text">Nombre</label>
        <input type="text" name="nombre" id="nombre" required> 

        <!-- Categoria -->
        <label for="text">Categoria</label>
        <select name="categoria" id="categoria">
            <option value="Aventura">Aventura</option>
            <option value="Accion">Acción</option>
        </select>

        <!-- Precio -->
        <label for="text">Precio</label>
        <input type="number" name="precio" id="precio" required>

        <!-- Cantidad -->
        <label for="text">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad" required>

        <!-- Imagen -->
        <label for="text">Imagen</label>
        <input type="text" name="imagen" id="imagen" required>

        <!-- Enviar -->
        <input type="submit" value="Crear Producto">
    </form>
</div>