<div id="productos-container" class="crudForm-container">
    <form id="getProduct-form">
        <label for="idProd">ID Producto</label>
        <input type="number" name="idProd" id="idProd" required>
        <input type="submit" value="<%= action %> Producto">
    </form>
</div>