<header class="paddingBottonOff">
    <div class="centrar">
        <div class="flex" >
            <div id="logo-container" class="paddingOff">
                <img id="img-logo" src="/image/memoricard.ico" alt="Logo">
            </div>
            <div>
                <h1>Classic Games</h1>
            </div>
        </div>
    </div>
    <div class="centrar">
        <%- include("nav.ejs") %>
    </div>
</header>