<nav>
    <ul id="listado-nav">
        <li class="links-header"><a href="/dashboard"><span>Index</span></a></li>
        <li class="links-header"><a href="/dashboard/consultar"><span>Consultar</span></a></li>
        <li class="links-header"><a href="/dashboard/crear"><span>Crear</span></a></li>
        <li class="links-header"><a href="/dashboard/actualizar"><span>Actualizar</span></a></li>
        <li class="links-header"><a href="/dashboard/eliminar"><span>Eliminar</span></a></li>
    </ul>
</nav>